body
{
    margin: 0% 0%;
    width: 100%;
    background-color: white;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper
{
    max-width: 700px;
    margin-bottom: 250px;
    padding-left: 50px;
    padding-right: 50px;
}

nav {
    margin-top: 3rem;
    padding-left: 50px;
    padding-right: 50px;
    
    display: flex;
    flex-direction: column;
    
    position: fixed;
    margin-left: -850px;
}

.image_row { display:inline-block; }

.med-img
{
    width: 80%;
    margin-top: 1.5rem;
}

@media only screen and (max-width: 900px) {
    nav {
        flex-direction: row;
        position: inherit;
        margin-left: 0px;
    }
    body {
        justify-content: left;
    }
}

@media (prefers-color-scheme: dark) {
    body 
    { 
        background-color: #222222;
        color: #eeeeee;
    }

    a:link {color: lightpink;}    
    a:visited {color:#50afe5;} 
    a:hover {color:firebrick;}   
    a:active {color:firebrick}

    img {
        opacity: .85;
        transition: opacity .5s ease-in-out;
      }
      img:hover {
        opacity: 1;
      }
}
