@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

html {
    background: #270722;
    color: #F7FFF7;
}

h1 {
    font-size: 4.5rem;
    margin: auto;
    -webkit-text-stroke: px #1A1123;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#center-image {
    max-height: 600px;
    width: auto;
}

#header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 1px black;
}